.test {
    text-align: center;
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    background-color: black;
    width: 600px
}

@media only screen and (max-width:600px) {
    body {
        background-color: lightblue
    }
}